<h1>Listing cheeses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cheeses.each do |cheese| %>
  <tr>
    <td><%= cheese.name %></td>
    <td><%= cheese.color %></td>
    <td><%= link_to 'Show', cheese %></td>
    <td><%= link_to 'Edit', edit_cheese_path(cheese) %></td>
    <td><%= link_to 'Destroy', cheese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheese', new_cheese_path %>
